html {
    box-sizing: border-box;
    padding: 30px;
}

p {
    padding-top: 10px;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
    vertical-align: middle;
    display: inline;
}

.container {
    height: 100px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.inner-div {

    height: 290px;
    width: 220px;
    margin: 10px;
    border: 2px solid rgb(235, 230, 230);
    align-content: center;
    border-radius: 5px;
}

.text {
    display: inline;
    font-size: 38px;
}
.text1 {
    display: inline;
    font-size: 18;
}
.text2 {
    display: inline;
    font-size: 14;
    color: rgb(189, 187, 187);
    
}
.right-link {
    float: right;
    display: inline;
    font-size: 20px;
    color: red;
}
.kkk {
display: block;
margin: 10px auto 10px ;
 }


#link {
    display: inline;
    font-size: 14px;
    color: rgb(189, 187, 187);
}
#ppp {
    float: right;
    display: inline;
color: rgb(60, 207, 60);
}
#nnn {
    font-size: 26px;
}
